@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Core Styles */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: hsl(0, 100%, 74%);
  background-image: url('../img/bg-intro-mobile.png');
}
