@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Core Styles */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: hsl(0, 100%, 74%);
  background-image: url('../img/bg-intro-mobile.png');
}

/* Section A */
#section-a {
  padding-bottom: 70px;
}

#section-a h1 {
  font-size: 200%;
  line-height: 1.3em;
}

#section-a p {
  width: 70%;
  margin: 0 auto;
}

#headWrapper {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Section B */
#free {
  background-color: hsl(248, 32%, 49%);
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
}

#pWrapper {
  width: 60%;
  margin: 0 auto;
}

#pWrapper span {
  font-weight: 700;
}

#submitForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
}

input {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

input:nth-child(5) {
  margin-bottom: 0;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px 20px;
  cursor: pointer;
}

::placeholder {
  font-weight: 700;
}

#submitForm p {
  color: #c5c5c5;
  font-size: 0.9em;
  padding-top: 15px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#submitForm span {
  color: #e91a16;
  font-weight: 700;
}
